html,body {
	font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
	overflow-x: hidden;
	font-size: 14px;
}
.fixed_top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: #192d43 !important;
	z-index: 100;
	border-bottom: 1px solid #737272;
}
.logo_main {
	left: -70px;
	margin-top: 5px;
}
.faat_logo {
	width: 190px;
}
.headertxt_lft {
	color: white;
	font-size: 20px;
	padding-left: 35px;
	margin-bottom: 20px;
	padding-bottom: 18px;
}
hr {
	margin-bottom: -15px;
	max-width: 23%;
	border-width: 3px;
	border-color: #00b146;
}
.header_main {
	background-color: #1b2d42;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0px 0px;
}
.user_main {
	float: right;
	color: #ffffff;
}
/* .user_main p {
	float: right;
	font-size: 18px;
}*/
 .user {
	float: right;
	border-radius: 20px;
	margin-left: 20px;
	font-size: 30px;
	
}
.icon_home {
	float: right;
	border-radius: 20px;
	font-size: 30px;
}
.dropdown-menu {
	right: 22px;
	left: auto;
	border-radius: 0px;
	padding: 0px;
	border: 1px solid #e4e4e4;
	margin-top: 10px;
}
.dropdown-menu>li>a {
	display: block;
	padding: 15px 30px 15px 10px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
	border-bottom: 1px solid #e0e0e0;
}
.dropdown-menu>li>a:hover {
	background-color: #1b2d42;
	color: #ffffff;
}
.drop_downicon {
	color: #ffffff;
	position: absolute;
	right: 13px;
	top: -24px;
	font-size: 30px;
}
.dropdown-menu {
	right: 22px;
    left: auto;
    border-radius: 0px;
    padding:0px;
    border: 1px solid #e4e4e4;
    margin-top:10px;
}
.dropdown-menu>li>a {
    display: block;
    padding: 15px 30px 15px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    border-bottom: 1px solid #e0e0e0;
}
.dropdown-menu>li>a:hover{
	background-color:#1b2d42;
	color: #ffffff;
}
.drop_downicon{
   color: #ffffff;
    position: absolute;
    right: 13px;
    top: -24px;
    font-size: 30px;
}
.reset_psw {
	width: auto;
	position: relative;
	font-size: 16px;
}
.body_main {
	margin: 0;
	padding: 0px 30px;
}
#nav-toggle span {
	position: absolute;
	left: 50%;
	top: 50%;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 4px;
	width: 20px;
	background: white;
	position: absolute;
	display: block;
	content: '';
}
#nav-toggle span:before {
	top: -10px;	
}
#nav-toggle span:after {
	bottom: -10px;
}
#sidebar {
	border-radius: 5px;
	margin-top: 5px;
}

